#input-label {
  font-size: 36px;
  text-shadow: 3px 3px 3px #222;
}

.input-group {
  padding-top: 15px;
}

/* make the search box round */
#txtSearch {
  font-size:  20px;
  border-radius: 3px;
}

/* give some space between the input box and the button*/
.input-group-btn {
  padding-left: 5px;
}

/* increase the font size and leave some space between the input box*/
.list-group {
  text-align: left;
  padding-top: 25px;
}

/* right align and color the pencil icon blue*/
.edit-icons {
  color: blue;
  padding: 5px 5px 5px 5px;
  vertical-align: middle;
  float: right;
}

/* right align and color the delete icon red*/
.delete-icons {
  color: red;
  padding: 5px 5px 5px 5px;
  vertical-align: middle;
  float: right;
}