/* .strike is used grocerty.component */
.strike{
  text-decoration:line-through;
}

body {
  color: #fff;
  font-family: 'Pacifico';
  text-align: center;
  margin-left: 20px;
  background: url('lVeges.jpg');
  opacity: 0.9;
  font-size: 20px;
}